hr {
    margin: 0;
}

.footer {
    background-color: var(--branco);
    padding: 1em;
}

/* HTML de 1024px */

.footer__lista {
    display: none;
}


@media screen and (min-width: 1024px){

    .footer {
       display: flex;
       justify-content: space-around;
       background-color: var(--cor-footer);
    
    }

    .footer__titulo{
        font-size: 1.5rem;
        color: var(--preto);
        padding: 1.7em 0em;
    } 

    .footer__lista {
        display: block;
    }

    .footer__lista-titulo {
        color: var(--cor-footer-titulo);
        font-size: 0.87rem;
        padding: 3em 0em 1.5em 0.8em;
    }

    .footer__lista-item {
       display: flex;
       align-items: center;
       gap: 15px;
       margin-bottom: 0.8em;

    }

    .footer__lista-link {
        text-decoration: none;
        color: var(--cor-footer-titulo);
    }

}

@media screen and (min-width: 1728px) {

    .footer {
        padding: 2em 0;
    }

    .footer__lista {
        /* border-left: 1px solid var(--cor-footer-texto); */
        padding-left: 1em;
        position: relative;
    }

    .footer__lista::before {
        content:'';
        position: absolute;
        top: 40px;
        bottom: 0;
        left: 0;
        width: 1px;
        background-color: var(--preto);
    } 

    
}