.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.cabecalho__menu-hamburger {
    width: 24px;
    height: 24px;
    background-image: url("../assets/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    padding: 1.5em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
}

.container__botao:checked ~ .lista-menu {
    display: block;
} 

.container__botao:checked ~ .container__label > .cabecalho__menu-hamburger {
    background-image: url("../assets/Menu\ Aberto.svg");
}

.container__botao:checked ~.container__label {
    background: var(--cor-degrade);
}

.container__botao {
    display: none;
}

.lista-menu {
    background-color: var(--branco);
    width: 60vw;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
}

.lista-menu__titulo {
    color: var(--cor-destaque);
    font-weight: bold;
}

.lista-menu__item {
    color: var(--cor-degrade);
}

.lista-menu__link {
    text-decoration: none;
    background: var(--cor-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* html de 1024px e 1728px */

.container__titulo, .opcoes, .container__paragrafo-icone {
    display: none;
}

@media screen and (min-width: 1024px) {

    .container__titulo,
    .container__titulo--negrito {
        font-family: var(--fonte-secundaria);
        font-size: 1.8rem;
    }

    .container__titulo {
        display: block;
        font-weight: 400;
        text-align: center;
    }

    .container__titulo--negrito {
        font-weight: 700;
        text-align: center;
    }

    .container__imagem-favoritos {
        display: none;
    }
    .cabecalho__menu-hamburger {
        display: none;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 0 1em;
        align-items: center;
        color: var(--preto);
    }


    .opcoes__item-link {
        text-decoration: none;
        color: var(--preto);
    }

    .opcoes__item-categorias {
        padding-right: 1em;
    }
    
    .opcoes__botao:checked ~ .lista-menu {
        display: block;
        width: auto;
    } 

    .opcoes__botao {
        display: none;
    }
}


@media screen and (min-width: 1728px){

    .container__link {
        display: flex;
        align-items: center;
        padding-right: 2em;
        font-size: 1.25rem;
        color: var(--preto);
        text-decoration: none;
    }

    .container__paragrafo-icone {
        display: block;
    }

    .cabecalho {
       padding: 0 2em;
    }

    .opcoes {
        margin-right: auto;
        padding-left: 2em;
    }

}