.novidades {
    background-color: var(--branco);
    padding: 1.5em 1em;
}

.novidades__titulo,
.novidades__paragrafo {
    background: var(--cor-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.novidades__titulo {
    font-weight: 500;
    padding-bottom: 1em;
    font-size: 1.1rem;
}

.novidades__paragrafo {
    font-weight: 300;
    line-height: 20px;
}

.novidades__cadastro {
    margin: 1em 0;
    border: 1px solid var(--cor-azul);
    color: var(--cor-azul);
    width: 100%;
    border-radius: 24px;
    padding: 0.7em 0em;
}

.novidades__cadastro::placeholder {
    font-family: var(--fonte-principal);
    color: var(--cor-azul);
    padding-left: 3em;
    background-image: url("../assets/envelope.svg");
    background-repeat: no-repeat;
    background-position: 1em;
}

@media screen and (min-width: 1024px) {

    .novidades {
        display: flex;
        padding: 2em 4em;
        justify-content: space-around;
        
    }

    .novidades__texto {
        margin-left: 4em;
        width: 40%;
    }

    .novidades__titulo {
        font-size: 1.5rem;
        line-height: 30px;
    }

    .novidades__cadastro {
        width: 30%;
        margin: 4em;
        padding: 0.8em 2.5em;
        margin-right: 5em;
    }

    .novidades__cadastro::placeholder {
        padding-left: 3.5em;
    }
    
}

@media screen and (min-width: 1728px){

    .novidades {
        padding: 4em 20vw;
        align-items: center;
    }

    .novidades__texto {
        margin-top: 1.5em;
        margin-left: 9em;
    }

    .novidades__titulo {
        font-size: 1.5rem;
    }

    .novidades__cadastro {
        width: 30%;
        margin-right: 9em;
    } 

    .novidades__cadastro::placeholder {
        padding-left: 5em;
        background-position: 2em;
    }
}